body {
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-image: url("./images/splash.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.main {
    flex-grow: 1;
}

.footer {
    padding: 20px 0;
    margin: 20px 0 0 0;
    background-color: black;
    background-image: url("./images/leaves.png");
    color: white;
}

.icon {
    padding-right: 10px;
}

.Logo {
    position: absolute;
    margin: 0;
    border-radius: 50%;
    /* border-style: solid;
    border-width: 3px; */
    /* border-color: rgb(136, 128, 92);
    background-color: rgb(172, 164, 129); */
}

.title {
    text-align: center;
    font-family: Great Vibes;

    color: rgb(158, 148, 59);
}

/* a {
    color: rgb(170, 173, 121);
} */

.promo-image:hover {
    opacity: 0.2;
}

.fruit1 {
    position: relative;
    display: flex;
    top: 25%;
    right: 20%;
}

.fruit2 {
    position: relative;
    display: flex;
    right: -30%;
    aspect-ratio: 1/1;
}

.fruit3 {
    position: relative;
    display: flex;
    top: 50%;
    aspect-ratio: 1/1;

}

.fruit4 {
    position: relative;
    display: flex;
    right: -30%;
    top: -25%;
    aspect-ratio: 1/1;
}

.img-combined-1{
    position: relative;
    display: flex;
  
}

.img-combined-1:hover{
    transform: rotate(10deg);
}

.img-combined-2{
    background-color: rgba(240, 248, 255, 0);
    position: relative;
    display: flex;
    top: -25%;
    right: -25%;
}

.img-combined-2:hover{
    transform: rotate(50deg);
}